@font-face {
    font-family: 'flamasemicondensed_basic';
    src: url('fonts/flamasemicondensed-basic.woff') format('woff'),
         url('fonts/flamasemicondensed-basic.ttf') format('truetype'),
        url('fonts/flamasemicondensed-basic.svg') format('svg');           
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'flamasemicondensed_light';
    src: url('fonts/flamasemicondensed-light.woff') format('woff'),
         url('fonts/flamasemicondensed-light.ttf') format('truetype'), 
         url('fonts/flamasemicondensed-light.svg') format('svg');          
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'flamasemicondensed_ultralight';
    src: url('fonts/flamasemicondensed-ultralight.woff') format('woff'),
         url('fonts/flamasemicondensed-ultralight.ttf') format('truetype'),
                  url('fonts/flamasemicondensed-ultralight.svg') format('svg');          
    font-weight: normal;
    font-style: normal;
}
@font-face {
font-family: '1942';
src:url('fonts/1942.woff') format('woff'),
url('fonts/1942.ttf') format('truetype'),
url('fonts/1942.svg') format('svg');
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: 'After_Shok';
src:url('fonts/After_Shok.woff') format('woff'),
url('fonts/After_Shok.ttf') format('truetype'),
url('fonts/After_Shok.svg') format('svg');
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: 'Akashi';
src:url('fonts/Akashi.woff') format('woff'),
url('fonts/Akashi.ttf') format('truetype'),
url('fonts/Akashi.svg') format('svg');
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: 'ANUDRG';
src:url('fonts/ANUDRG.woff') format('woff'),
url('fonts/ANUDRG.ttf') format('truetype'),
url('fonts/ANUDRG.svg') format('svg');
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: 'armalite_rifle';
src:url('fonts/armalite_rifle.woff') format('woff'),
url('fonts/armalite_rifle.ttf') format('truetype'),
url('fonts/armalite_rifle.svg') format('svg');
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: 'azoft-sans';
src:url('fonts/azoft-sans.woff') format('woff'),
url('fonts/azoft-sans.ttf') format('truetype'),
url('fonts/azoft-sans.svg') format('svg');
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: 'belligerent';
src:url('fonts/belligerent.woff') format('woff'),
url('fonts/belligerent.ttf') format('truetype'),
url('fonts/belligerent.svg') format('svg');
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: 'black_jack';
src:url('fonts/black_jack.woff') format('woff'),
url('fonts/black_jack.ttf') format('truetype'),
url('fonts/black_jack.svg') format('svg');
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: 'BLACKR';
src:url('fonts/BLACKR.woff') format('woff'),
url('fonts/BLACKR.ttf') format('truetype'),
url('fonts/BLACKR.svg') format('svg');
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: 'BOYCOTT_';
src:url('fonts/BOYCOTT_.woff') format('woff'),
url('fonts/BOYCOTT_.ttf') format('truetype'),
url('fonts/BOYCOTT_.svg') format('svg');
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: 'BPdots';
src:url('fonts/BPdots.woff') format('woff'),
url('fonts/BPdots.ttf') format('truetype'),
url('fonts/BPdots.svg') format('svg');
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: 'BPdotsSquareBold';
src:url('fonts/BPdotsSquareBold.woff') format('woff'),
url('fonts/BPdotsSquareBold.ttf') format('truetype'),
url('fonts/BPdotsSquareBold.svg') format('svg');
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: 'CaesarDressingregular';
src:url('fonts/CaesarDressingregular.woff') format('woff'),
url('fonts/CaesarDressingregular.ttf') format('truetype'),
url('fonts/CaesarDressingregular.svg') format('svg');
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: 'Capture_it';
src:url('fonts/Capture_it.woff') format('woff'),
url('fonts/Capture_it.ttf') format('truetype'),
url('fonts/Capture_it.svg') format('svg');
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: 'Capture_it_2';
src:url('fonts/Capture_it_2.woff') format('woff'),
url('fonts/Capture_it_2.ttf') format('truetype'),
url('fonts/Capture_it_2.svg') format('svg');
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: 'COLLEGEB';
src:url('fonts/COLLEGEB.woff') format('woff'),
url('fonts/COLLEGEB.ttf') format('truetype'),
url('fonts/COLLEGEB.svg') format('svg');
font-weight: normal;
font-style: normal;
}

