  *{
    -moz-user-select: none; 
    -khtml-user-select: none; 
    -webkit-user-select: none; 
    -o-user-select: none; 
  }
  body {
    background-color: #fff;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0px;
    padding: 0px;
    -webkit-box-sizing: border-box;
    /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;
    /* Firefox, other Gecko */
    box-sizing: border-box;
    /* Opera/IE 8+ */
    font-family: 'flamasemicondensed_basic', 'Helvetica Neue' !important;
    overflow-x: hidden;
    overflow-y: hidden;
    height: 100%;
  }
  input[type='email']:focus, input[type='text']:focus{
    outline: none;

  }
  .form-group input:focus,
  .form-group select:focus,
  .form-group textarea:focus {
    border-color: #2d6987;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7ab5d3;
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7ab5d3;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7ab5d3;
  }

  .form-group input.error,
  .form-group.error select,
  .form-group.error textarea {
    border-color: #953b39;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
  }
  input[type='email'].error:focus, input[type='text'].error:focus{
    outline: none;
    box-shadow: 0px 0px 5px #ff3333;
  }
  /* small desktop */
  @media all and (min-width: 1200px) {
    .delete-button {
     display: none !important;
   }
 }

 /* tablet */
 @media all and (min-width: 1024px) {

  .delete-button {

  }
}
.imageInfo{
  margin-bottom:0px;}
  .imageInfo:hover {
    color: #627d00;
  }
  #bottomButtons{
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    justify-content: center;
    -webkit-justify-content: center;
    align-items: center;
    -webkit-align-items: center;
    margin: 0 auto;
    position: relative;
    top: 830px;
  }
  .delete-button {
    display: block;
    width: 40px;
    height: 28px ;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-image: url('../SVG/delete.svg');
    z-index: 1003;
  }
  #snapshot{
   display: block;
   width: 40px;
   height: 28px ;
   background-repeat: no-repeat;
   background-size: contain;
   background-position: center;
   background-image: url('../SVG/snapshot.svg');
   z-index: 1003;

 }
 .rotateBottle{
   display: block;
   width: 40px;
   height: 32px;
   background-repeat: no-repeat;
   background-size: contain;
   background-position: center;
   background-image: url('../SVG/rotateBottle.svg');
   z-index: 1003;

 }
 .mixItUp{
   display: block;
   width: 40px;
   height: 28px ;
   background-repeat: no-repeat;
   background-size: contain;
   background-position: center;
   background-image: url('../SVG/snapshot.svg');
   z-index: 1003;

 }
 #snapshot:hover, .rotateBottle:hover{
  cursor: pointer;
}
#snapshotCover{
  position: absolute;
  top: 0px;
  background: #fff;
  width: 100%;
  height: 100%;
  display: none;
  opacity: 1;
  transition: all 250ms ease;
  z-index: 1000000;
}
#snapshotCover.click{
  display: block;
  opacity: 1;
}
#snapshotCover.fade{
  opacity:0;
}
.imageModal .row-fluid{
  text-align: center;
  margin: 0 auto;
  margin-bottom: 10px;
}
.imageModal .btn-primary{
 border: none;
 background-color: #C4D600;
 color: white;
 font-family: 'flamasemicondensed_basic';
 text-align: center;
 font-size: 24px;
 margin: 0 auto;
 padding: 5px 10px;
 text-decoration: none;
 z-index: 1001;

}
#tutorialBack, #tutorial{
  -webkit-transition: opacity 0.5s ease;
  -moz-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 0;

  opacity: 1;
}
#tutorialBack.hiding, #tutorial.hiding{
	opacity: 0;
}
#tutorialBack{
  position: absolute;
  top: 0px;
  background-color: rgba(0,0,0,.5);
  width: 100%;
  height: 100%;
  min-height: 100%;
  z-index: 1001;

}
#tutorial{
  z-index: 1004;
}
#tutorial #cover{
  position: absolute;
  top: 0px;
  background-color: rgba(0,0,0,0);
  width: 100%;
  height: 100%;
  z-index: 1004;
}   



#tutorial #colorChange{
  display: block;
  width: 237px;
  height: 79px;
  position: absolute;
  top: 149px;
  left: 302px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-image: url('../SVG/Tooltips/changeColorSmall.png');
  z-index: 1003;
}
#tutorial #addtextChange{
 display: block;
 width: 214px;
 height: 45px;
 position: absolute;
 top: 315px;
 left: 272px;
 background-repeat: no-repeat;
 background-size: contain;
 background-position: center;
 background-image: url('../SVG/Tooltips/addTextSmall.png');
 z-index: 1003;

}
#tutorial #imagesChange{
 display: block;
 width: 218px;
 height: 54px;
 position: absolute;
 top: 385px;
 left: 272px;
 background-repeat: no-repeat;
 background-size: contain;
 background-position: center;
 background-image: url('../SVG/Tooltips/addImagesSmall.png');
 z-index: 1003;

}
#tutorial #sidebarRightTooltip{
 display: block;
 width: 192px;
 height: 63px;
 position: absolute;
 top: 300px;
 right: 202px;
 background-repeat: no-repeat;
 background-size: contain;
 background-position: center;
 background-image: url('../SVG/Tooltips/tooltipSidebarRightSmall.png');
 z-index: 1003;

}
#tutorial #videoTooltip:before{
  content: 'WATCH VIDEO';
  border: none;
  background-color: rgba(0,0,0,0.5);
  width: 226px;
  height: 40px;
  color: white;
  font-family: 'flamasemicondensed_basic';
  text-align: center;
  font-size: 20px;
  line-height: 2;
  margin: 0 auto;
  position: absolute;
  top: 350px;
  left: 45%;
  margin: 0 auto;
  margin-bottom: 10px;
  z-index: 1005;	}
  #tutorial #videoTooltip{
    background-color: transparent;
  }
  #tutorial #snapshotTooltip{
   display: block;
   width: 372px;
   height: 45px;
   position: absolute;
   top: 815px;
   left: 52.5%;
   background-repeat: no-repeat;
   background-size: contain;
   background-position: center;
   background-image: url('../SVG/Tooltips/tooltipsSnapshot.png');
   z-index: 1003;

 }
 #tutorial button{
   border: none;
   background-color: rgba(0,0,0,0.5);
   width: 226px;
   height: 40px;
   color: white;
   font-family: 'flamasemicondensed_basic';
   text-align: center;
   font-size: 20px;
   line-height: 2;
   margin: 0 auto;
   position: absolute;
   top: 400px;
   left: 45%;
   margin: 0 auto;
   z-index: 1005;

 }

 @media all and (min-width: 1327px) {

  #tutorial #colorChange{
   display: block;
   width: 257px;
   height: 286px;
   position: absolute;
   top: 45px;
   left: 300px;
   background-repeat: no-repeat;
   background-size: contain;
   background-position: center;
   background-image: url('../SVG/Tooltips/changeColor.png');
   z-index: 1003;
 }
 #tutorial #addtextChange{
  display: block;
  width: 180px;
  height: 41px;
  position: absolute;
  top: 325px;
  left: 302px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-image: url('../SVG/Tooltips/addText.png');
  z-index: 1003;

}
#tutorial #imagesChange{
  display: block;
  width: 247px;
  height: 58px;
  position: absolute;
  top: 385px;
  left: 302px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-image: url('../SVG/Tooltips/addImages.png');
  z-index: 1003;

}
#tutorial #videoSlide{
	z-index:  1006;
	position: absolute;
	left: 25%;
}
#tutorial #sidebarRightTooltip{
  display: block;
  width: 235px;
  height: 80px;
  position: absolute;
  top: 350px;
  right: 202px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-image: url('../SVG/Tooltips/tooltipsSidebarRight.png');
  z-index: 1003;

}
#tutorial #snapshotTooltip{
  display: block;
  width: 372px;
  height: 45px;
  position: absolute;
  top: 840px;
  left: 49.5%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-image: url('../SVG/Tooltips/tooltipsSnapshot.png');
  z-index: 1003;

}

}

#tutorial #tooltipTextColor{
	display: block;
  width: 554px;
  height: 314px;
  position: absolute;
  top: 80px;
  left:110px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-image: url('../SVG/Tooltips/textColor.png');
  z-index: 1003;

}
#tutorial #tooltipTextAlign{
	display: block;
  width: 500px;
  height: 314px;
  position: absolute;
  top: 95px;
  left:140px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-image: url('../SVG/Tooltips/textAlign.png');
  z-index: 1003;

}
#tutorial #tooltipMoveLayers{
	display: block;
  width: 343px;
  height: 289px;
  position: absolute;
  top: 180px;
  left:200px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-image: url('../SVG/Tooltips/moveLayers.png');
  z-index: 1003;

}
#tutorial #tooltipChooseFont{
	display: block;
  width: 353px;
  height: 158px;
  position: absolute;
  top: 400px;
  left:110px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-image: url('../SVG/Tooltips/chooseFont.png');
  z-index: 1003;

}
#tutorial #tooltipFinalButton{
	display: block;
  width: 207px;
  height: 175px;
  position: absolute;
  top: 500px;
  left:350px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-image: url('../SVG/Tooltips/finalButton.png');
  z-index: 1003;

}
#feedback{
  position: absolute;
  top: 0px;
  right: 280px;
  z-index: 100;
  width: 300px;
  background-color: white;
  box-shadow: 2px 2px 1px rgba(0,0,0,0), -1px -1px 1px rgba(0,0,0,0);
  -webkit-transform: translateY(-100%);
  -moz-transform:    translateY(-100%);
  -ms-transform:     translateY(-100%);
  -o-transform:      translateY(-100%);
  transform:         translateY(-100%);
  transition: all 700ms cubic-bezier(0.680, -0.550, 0.265, 1.550); /* easeInOutBack */




}
#feedback.open{
 box-shadow: 2px 2px 1px rgba(0,0,0,.5), -1px -1px 1px rgba(0,0,0,.1);
 -webkit-transform: translateY(0px);
 -moz-transform:    translateY(0px);
 -ms-transform:     translateY(0px);
 -o-transform:      translateY(0px);
 transform:         translateY(0px);
}

#feedback #feedbackContent{
  padding: 10px;
  text-align: left;
}
#feedback #feedbackButton{
  background-color: #C4D600;
  width: 200px;
  height: 24px;
  position: relative;
  bottom: -24px;
  left: 50px;
  color: white;
  font-family: 'flamasemicondensed_basic';
  text-align: center;
  font-size: 18px;
  margin: 0 auto;
  box-shadow: 2px 2px 1px rgba(0,0,0,.5);
}
#feedback p{
  text-align: left;
}
#feedback textarea#feedbackBox{
  width: 100%;
  margin: 0px;
  text-align: left;

}
#feedback #feedbackHeader{
  text-align: center;
  font-size:  24px;
  margin-top: -15px;
  border-bottom: solid 1px #aaa;
  font-family: 'flamasemicondensed_basic';
}
#feedback button{
  border: none;
  font-size: 16px;
  font-family: 'flamasemicondensed_light';
  color: #fff;
  width: 78px;
  margin: 0px;
  background-color: #C4D600;
}
#feedback button.btn-cancel{
  background-color: #cccccc;


}
#canvas{
  position:absolute;
  z-index:1;
}
#designLogo{
  position: absolute;
  right: 20px;
  top: 0px;
  width: 265px;
  height: 300px;
  display: block;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-image: url('../SVG/designLogo.svg');
}
#lowerBackground{
  background-color: #fafafa;
  position: absolute;
  top:420px;
  width: 100%;
  height: 600px;
  margin: 0px;
}
#upperBackground{
  background-color: #EEF0F0;
  position: absolute;
  top:0;
  width: 100%;
  margin: 0px;
  height: 420px;
}
p {
  margin-bottom: 0px;
  padding: 0px;
}

.fail {
  background: #c00;
  padding: 2px;
  color: #fff;
}

.hidden {
  display: none !important;
}

path#logo {
  fill: #f00;
}


#sidebar-right {
  position: absolute;
  top: 265px;
  right: 20px;
  box-shadow: 2px 2px 1px rgba(0,0,0,.5), -1px -1px 1px rgba(0,0,0,.1);
  background: #fff;
  width: 265px;
  margin: 0 auto;
  padding: 10px;
  padding-bottom: 0px;
  font-size: 17px;
  font-family: 'flamasemicondensed_light';

}
#sidebar-right #descriptionHead{
  text-align: center;
  font-size:  24px;
  margin-top: 0px;
  border-bottom: solid 1px #aaa;
  font-family: 'flamasemicondensed_basic';
}

#sidebar-right .contestDescription{
  height: 435px;
  font-size: 16px;
  overflow-x:hidden;
  overflow-y: scroll;
  margin-top: 5px;
  margin-bottom: 5px;
}
#sidebar-left {
  position: absolute;
  top: 83px;
  left: 20px;
  z-index: 1001;
}

#bottleName {
  box-shadow: 2px 2px 1px rgba(0,0,0,.5), -1px -1px 1px rgba(0,0,0,.1);
  background: #fff;
  text-align: center;
  font-size: 26px;
  font-family: 'flamasemicondensed_light';
  margin-bottom: 10px;
}

#sidebarControls {
  box-shadow: 2px 2px 1px rgba(0,0,0,.5), -1px -1px 1px rgba(0,0,0,.1);
  background: #fff;
  width: 265px;
  min-height: 290px;
  -webkit-transition: height 0.5s ease;
  -moz-transition: height 0.5s ease;
  transition: height 0.5s ease;
  margin: 0 auto;
  z-index:1;
}
#sidebarNav {
  float: left;
  position: absolute;
  top: 101px;
  left: -15px;
  width: 40px;
  margin-left: 300px;
  margin-top: 75px;
  text-align: center;
  z-index:1001;
  border-top: solid 1px #aaaaaa;

}
#sidebarNav p:before{
  position: absolute;
  display: block;
  content: '';
  width: 1px;
  height: 40px;
  margin-top: -2px;
  left: -1px;
  background-color: transparent;
  box-shadow: 2px 2px 1px rgba(0,0,0,1);

}
#sidebarNav p.selected:before{
  display: none;
}
#sidebarNav p {
  background-color: #e0e0e0;
  margin: 0px;
  height: 40px;
}

#sidebarNav p a {
  display: block;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 40px;
  margin: 0 auto;
}
#sidebarButtons {
  box-shadow: 2px 2px 1px rgba(0,0,0,.5);
}
#bottlePick, #lidPick, #capPick, #overmoldPick {
  background-image: url('../SVG/graywheel.svg');
}

#imagePick {
  background-image: url('../SVG/grayimage.svg');
}

#textPick {
  background-image: url('../SVG/graytext.svg');
}

.selected #bottlePick, .selected #lidPick, .selected #capPick, .selected #overmoldPick {
  background-image: url('../SVG/colorwheel.svg');
}

.selected #imagePick {
  background-image: url('../SVG/colorimage.svg');
}

.selected #textPick {
  background-image: url('../SVG/colortext.svg');
}

#textControlsPicker {
  margin-top: 5px;
  border-top: solid 1px #aaa;
  height: 57px;
  border-bottom: solid 1px #aaa;
  margin-top: 30px;
  padding-left: 37px;
  margin-bottom: 10px;
}

#textControlsPicker div {
  float: left;
  width: 48px;
  margin: 0;
  border-bottom: solid 1px #aaa;
}

#textControlsPicker div.selected {
  border-left: solid 1px #aaa;
  border-right: solid 1px #aaa;
  border-bottom: solid 1px #fff;
}

#textControlsPicker div a {
  display: block;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 35px;
  height: 55px;
  margin: 0 auto;
}
#imageControlsPicker {
  margin-top: 5px;
  border-top: solid 1px #aaa;
  height: 57px;
  border-bottom: solid 1px #aaa;
  padding-left: 37px;
  margin-bottom: 10px;
  margin-top: 30px;
}

#imageControlsPicker div {
  float: left;
  width: 63px;
  margin: 0;
}

#imageControlsPicker div.selected {
  border-left: solid 1px #aaa;
  border-right: solid 1px #aaa;
  border-bottom: solid 1px #fff;
}

#imageControlsPicker div a {
  display: block;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 35px;
  height: 55px;
  margin: 0 auto;
}

.selected #fontPick {
  background-image: url('../SVG/colortextbig.svg');
}

.selected #colorPick {
  background-image: url('../SVG/colorwheelbig.svg');
}

.selected #alignPick {
  background-image: url('../SVG/coloralign.svg');
}

.selected #layersPick {
  background-image: url('../SVG/colorlayers.svg');
}

.selected #artPick {
  background-image: url('../SVG/colorart.svg');
}

#artPick {
  background-image: url('../SVG/grayart.svg');
}

#fontPick {
  background-image: url('../SVG/graytextbig.svg');
}

#colorPick {
  background-image: url('../SVG/graywheelbig.svg');
}

#alignPick {
  background-image: url('../SVG/grayalign.svg');
}

#layersPick {
  background-image: url('../SVG/graylayers.svg');
}



#alignControl {
  margin-top: 5px;
  height: 100px;
  padding-left: 22px;
  margin-bottom: 10px;
}

#alignControl div {
  float: left;
  width: 60px;
  height: 60px;
  margin: 0;
  margin-left: 10px;
}

#alignControl div a {
  display: block;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 45px;
  height: 55px;
  margin: 0 auto;
  margin-bottom: 20px;
}

#alignControl div.selected {
  background-color: #eee;
  border-radius: 5px;
}

.alignLeft {
  background-image: url('../SVG/left.svg');
}

.alignCenter {
  background-image: url('../SVG/center.svg');
}

.alignRight {
  background-image: url('../SVG/right.svg');
}

.alignJustify {
  background-image: url('../SVG/justify.svg');
}

.lineHeightLabel {
  display: block;
  float: left;
  height: 20px;
  margin-top: 10px;
}

#lineHeight {
  display: block;
  float: right;
  height: 20px;
  width: 60%;
  margin-right: 20px;
  margin-top: 10px;
}

#layersControl {
  margin-top: 20px;
  height: 57px;
  padding-left: 24px;
  margin-bottom: 10px;
}

#layersControl div {
  float: left;
  width: 55px;
  height: 55px;
  margin: 0;
}

#layersControl div a {
  display: block;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 45px;
  height: 55px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.moveBack {
  background-image: url('../SVG/backward.svg');
}

.moveToBack {
  background-image: url('../SVG/toback.svg');
}

.moveToFront {
  background-image: url('../SVG/tofront.svg');
}

.moveForward {
  background-image: url('../SVG/forward.svg');
}


#artControl{
  padding-bottom: 20px;
}

#artwork {
  text-align: center;
  width: 210px;
  height: 250px;
  overflow: scroll;
  overflow-x: hidden;
  margin: 0 auto;
}
#artwork ul {
  padding: 0;
  margin: 0;
  width: 200px;
  margin-left: 5px;
  list-style-type: none;
}
#artwork li {
  width: 40px;
  height: 40px;
  text-decoration: none;
  list-style-type: none;
  border: solid 1px rgba(0,0,0,0.1);
  margin: 0 auto;
  margin: 5px;
  float: left;

  display: block;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.controlslabel {
  padding-top: 4px;
  font-size: 30px;
  text-align: center;
  margin: 0px;
  font-family: 'flamasemicondensed_light';
  border-bottom: solid 1px #aaa;
}
#overmoldControls .controlslabel{
  font-size: 24px !important;
  line-height: 42px !important;
}
#sidebarControls {
  position: relative;
}

.leftArrow {
  width: 0;
  height: 0;
  border-style: solid;
  position: absolute;
  top: 18px;
  left: 25px;
  border-width: 8px 13.9px 8px 0;
  border-color: transparent #aaa transparent transparent;
}

.leftArrow:after {
  content: '\00a0';
  width: 0;
  height: 1px;
  top: -6px;
  left: 2px;
  position: absolute;
  border-style: solid;
  border-width: 6px 10.4px 6px 0;
  border-color: transparent #fff transparent transparent;
}

.leftArrow:before {
  content: "\00a0";
  display: block;
  border: solid 1px rgba(0,0,0,.2);
  background-color: fff;
  border-radius: 28px;
  -moz-border-radius: 28px;
  -webkit-border-radius: 28px;
  height: 28px;
  width: 28px;
  position: absolute;
  left: -5px;
  top: -6px;
  margin-top: -8px;
}

.rightArrow {
  width: 0;
  height: 0;
  border-style: solid;
  position: absolute;
  top: 18px;
  right: 25px;
  border-width: 8px 0 8px 13.9px;
  border-color: transparent transparent transparent #aaa;
}

.rightArrow:after {
  content: '\00a0';
  width: 0;
  height: 1px;
  top: -6px;
  right: 2px;
  position: absolute;
  border-style: solid;
  border-width: 6px 0 6px 10.4px;
  border-color: transparent transparent transparent #fff;
}

.rightArrow:before {
  content: "\00a0";
  display: block;
  border: solid 1px rgba(0,0,0,.2);
  background-color: fff;
  border-radius: 28px;
  -moz-border-radius: 28px;
  -webkit-border-radius: 28px;
  height: 28px;
  width: 28px;
  position: absolute;
  right: -5px;
  top: -6px;
  margin-top: -8px;
}

.controlsComment {
  font-family: 'flamasemicondensed_ultralight';
  text-align: center;
  font-size: 16px;
  margin-top: 0px;
  margin-bottom: 5px;
}

p.selected {
  background-color: #fff !important;
}


.colorPicker, #colorControl {
  width: 200px;
  margin: 0 auto;
}
.colorPicker{
  margin-top: 30px;
}
.colorPalette {
  width: 200px;
}

.sp-picker-container {
  background-color: transparent;
  background: transparent !important;
}
.sp-flat{
  background-color:transparent;

}
.colorPalette ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.colorPalette li {
  width: 40px;
  height: 40px;
  text-decoration: none;
  list-style-type: none;
  border: solid 1px rgba(0,0,0,0.1);
  margin: 5px;
  float: left;
}

.colorPalette .selected {
  position: relative;
}

.colorPalette .selected:before {
  content: "\00a0";
  display: block;
  border: solid 13px rgba(0,0,0,.5);
  border-radius: 13px;
  -moz-border-radius: 13px;
  -webkit-border-radius: 13px;
  height: 0;
  width: 0;
  position: absolute;
  left: 6px;
  top: 37%;
  margin-top: -8px;
}

.colorPalette .selected:after {
  content: "\00a0";
  display: block;
  width: 6px;
  height: 12px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  position: absolute;
  left: 16px;
  top: 31%;
  margin-top: 0px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}

.colorPalette .white {
  background-color: #fff;
}

.colorPalette .black {
  background-color: #333;
}

.colorPalette .cyan {
  background-color: #00A0C5;
}

.colorPalette .blue {
  background-color: #003CA6;
}

.colorPalette .purple {
  background-color: #4D2D7E;
}

.colorPalette .deeppink {
  background-color: #EC098C;
}

.colorPalette .red {
  background-color: #c2002f;
}

.colorPalette .orange {
  background-color: #ED7B2C;
}

.colorPalette .yellow {
  background-color: #009C4C;
}

.colorPalette .b8e81d {
  background-color: #b8e81d;
}

.colorPalette .brown {
  background-color: brown;
}

.colorPalette .gray {
  background-color: gray;
}
.colorPalette .eyedropper{
  background-color: #b8e81d;
  background-image: url('../SVG/eyedropper.svg');
  background-position: center;
  background-repeat: no-repeat;
}

.sp-picker-container {
  background-color: transparent;
  background: transparent !important;
}

.colorPalette .transparent {
 background: rgb(255,255,255);
 background: -moz-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 48%, rgba(255,48,51,1) 50%, rgba(255,255,255,1) 52%, rgba(255,255,255,1) 100%);
 background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(48%,rgba(255,255,255,1)), color-stop(50%,rgba(255,48,51,1)), color-stop(52%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,1)));
 background: -webkit-linear-gradient(-45deg, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 48%,rgba(255,48,51,1) 50%,rgba(255,255,255,1) 52%,rgba(255,255,255,1) 100%);
 background: -o-linear-gradient(-45deg, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 48%,rgba(255,48,51,1) 50%,rgba(255,255,255,1) 52%,rgba(255,255,255,1) 100%);
 background: -ms-linear-gradient(-45deg, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 48%,rgba(255,48,51,1) 50%,rgba(255,255,255,1) 52%,rgba(255,255,255,1) 100%);
 background: linear-gradient(135deg, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 48%,rgba(255,48,51,1) 50%,rgba(255,255,255,1) 52%,rgba(255,255,255,1) 100%);
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=1 );
}
#textControls, #imageControls {
  text-align: center;
}

#textControlsButtons{

}
#textControls input[type="button"],#imageControls input[type="button"] {
  background-color: #C4D600;
  border: none;
  color: #fff;
  padding: 5px;
  width: 150px;
  margin-top: 5px;
}

textarea#textContent, textarea#feedbackBox {
  width: 190px;
  height: 75px;
  margin-bottom: 10px;
  margin-left: 0px;
  -moz-user-select: text; 
  -khtml-user-select: text; 
  -webkit-user-select: text; 
  -o-user-select: text; 
  resize: none;
}

input[type="text"], input[type="email"]{
  -moz-user-select: text; 
  -khtml-user-select: text; 
  -webkit-user-select: text; 
  -o-user-select: text; 

}
div#textFont {
  border-top: solid 1px #aaa;
  font-size: 20px;
  height: 200px;
  overflow: scroll;
  overflow-x: hidden;
  width: 190px;
  margin: 0 auto;
  margin-bottom: 10px;
}

div#textFont p {
  line-height: 1.25;
  border-bottom: solid 1px #ccc;
  -webkit-user-select: none;
  /* Chrome/Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+ */
  /* Rules below not implemented in browsers yet */
  -o-user-select: none;
  user-select: none;
  cursor: default;
}

#Arial {
  font-family: 'Arial';
}

#Helvetica {
  font-family: 'Helvetica';
}

#Georgia {
  font-family: 'Georgia';
}

#BrushScriptMT {
  font-family: 'Brush Script MT';
}

#GoudyOldStyle {
  font-family: 'Goudy Old Style';
}

#Abel {font-family: 'Abel', sans-serif;}
#Lato {font-family: 'Lato', sans-serif;}
#Arvo {font-family: 'Arvo', serif;}
#TradeWinds {font-family: 'Trade Winds', cursive;}
#Codystar {font-family: 'Codystar', cursive;}
#Lora {font-family: 'Lora', serif;}
#BadScript {font-family: 'Bad Script', cursive;}
#VastShadow {font-family: 'Vast Shadow', cursive;}
#JosefinSans {font-family: 'Josefin Sans', sans-serif;}
#Allura {font-family: 'Allura', cursive;}
#Lobster {font-family: 'Lobster', cursive;}
#Rationale {font-family: 'Rationale', sans-serif;}
#AlexBrush {font-family: 'Alex Brush', cursive;}
#Anton {font-family: 'Anton', sans-serif;}
#ShadowsIntoLight {font-family: 'Shadows Into Light', cursive;}
#DaysOne {font-family: 'Days One', sans-serif;}
#Monoton {font-family: 'Monoton', cursive;}
#AutourOne {font-family: 'Autour One', cursive;}
#Aclonica {font-family: 'Aclonica', sans-serif;}
#AnnieUseYourTelescope {font-family: 'Annie Use Your Telescope', cursive;}
#Bangers {font-family: 'Bangers', cursive;}
#CoveredByYourGrace {font-family: 'Covered By Your Grace', cursive;}
#IndieFlower {font-family: 'Indie Flower', cursive;}
#Orbitron {font-family: 'Orbitron', sans-serif;}
#RockSalt {font-family: 'Rock Salt', cursive;}
#Alegreya {font-family: 'Alegreya', serif;}
#BlackOpsOne {font-family: 'Black Ops One', cursive;}
#Audiowide {font-family: 'Audiowide', cursive;}
#Ewert {font-family: 'Ewert', cursive;}
#Chewy {font-family: 'Chewy', cursive;}
#UnifrakturMaguntia {font-family: 'UnifrakturMaguntia', cursive;}
#1942 {font-family: '1942';}
#After_Shok {font-family: 'After_Shok';}
#Akashi {font-family: 'Akashi';}
#ANUDRG {font-family: 'ANUDRG';}
#armalite_rifle {font-family: 'armalite_rifle';}
#azoft-sans {font-family: 'azoft-sans';}
#belligerent {font-family: 'belligerent';}
#black_jack {font-family: 'black_jack';}
#BLACKR {font-family: 'BLACKR';}
#BOYCOTT_ {font-family: 'BOYCOTT_';}
#BPdots {font-family: 'BPdots';}
#BPdotsSquareBold {font-family: 'BPdotsSquareBold';}
#CaesarDressingregular {font-family: 'CaesarDressingregular';}
#Capture_it {font-family: 'Capture_it';}
#Capture_it_2 {font-family: 'Capture_it_2';}
#COLLEGEB {font-family: 'COLLEGEB';}


#submission button, .popover-content button, .mix-it-up{
  border: none;
  font-size: 16px;
  line-height: 14px;
  font-family: 'flamasemicondensed_light';
  color: #fff;
  height: 26px;
  width: 78px;
  border-radius: 0;
}
#submission button.btn-success{
  background-color: #C4D600;
}
.popover-content .btn-warning{
  margin-right: 12px;
  background-color: #D60000;
}
#submission button.btn-primary, .popover-content .btn-primary{
  background-color: #000;
  margin-right: 12px;
  border-radius: 0;
}
#submission {
  margin: 0;
  margin-top: 10px;
  z-index: 10;
  width: 100%;
}
.mix-it-up{
  margin-top: 10px;
  animation-duration: 20s;
  animation-name: colorchange;
  animation-iteration-count: infinite;
  -webkit-animation-duration: 20s;
  -webkit-animation-name: colorchange;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-duration: 20s;
  -moz-animation-name: colorchange;
  -moz-animation-iteration-count: infinite;
  width: 263px;
  height: 32px;
}
@keyframes colorchange {
  0%{
    background-color: #13bf2a;
  }
  10%{
    background-color: #b3bf13;
  }
  20%{
    background-color: #1354bf;
  }
  30%{
    background-color: #bf4f13;
  }
  40%{
    background-color: #7299bf;
  }
  50%{
    background-color: #1358bf;
  }
  60%{
    background-color: #2fbf13;
  }
  70%{
    background-color: #bf133c;
  }
  80%{
    background-color: #13bf5f;
  }
  90%{
    background-color: #2013bf;
  }
  100%{
    background-color: #13bf2a;
  }
}
.modal-lg{
  width: 400px !important;
  border-radius: 0px !important;
}
.modal-content{
  padding-bottom: 40px !important;
  border-radius: 0px !important;
}
.modal-content .formHead{
  border-bottom: solid 1px #ccc;
  text-align: center;
  font-size: 24px;
  margin: 0px;
}

div.modal.fade.submitModal{
  left: -33%;
}

.submitModal .modal-content{
  width: 900px;
}
.submitModal form{
  float: right;
  width: 400px;
  margin: 10px;
}
.submitModal #submitImage{
  margin: 10px;
}
#finishedForm{
  background-color:  #ccc;
  padding: 10px;
  margin: 15px;
}

#finishedForm label{
  font-family: 'flamasemicondensed_light';
  color: #000;
  font-size: 15px;
}
#finishedForm .input-group{
  width: 100%;
}
#finishedForm input[type='email'], #finishedForm input[type='text']{
  width:  100%;
  height: 40px;
  font-size: 20px;
  font-family: 'flamasemicondensed_ultralight';
  border-radius: 0;
}
#finishedForm .btn{
  border-radius: 0;
}
#finishedForm .termsCheck{
  margin-top: 20px;
  background-color: #fff;
  padding-bottom: 10px;
  padding-top: 10px;
}

#finishedForm .terms{
  background-color: #fafafa;
  overflow:scroll;
  overflow-x:hidden;
  height:130px;
  width: 94%;
  margin: 0 auto;
  margin-top: 10px;
}
#finishedForm .terms p{
  margin:0px;
  padding: 7px;
  font-family: 'flamasemicondensed-light';
}
#finishedForm button{
  border: none;
  font-size: 24px;
  font-family: 'flamasemicondensed_light';
  color: #fff;
  width: 150px;
  height: 34px;
  background-color: #C4D600;
  padding: 0;
  margin-top: 20px;
  float: right;
}
#finishedForm button[disabled='disabled']{
  background-color: #839000;
  color: #ccc;
}
/*Adding custom checkbox icons*/
#finishedForm .termsCheck label {
  position: relative;
  padding-left: 30px;
  font-size: 14px;
  cursor: pointer;
  margin-left: 10px;

}
#finishedForm .termsCheck label:before, #finishedForm .termsCheck label:after {
  font-family: FontAwesome;
  font-size: 21px;
  /*absolutely positioned*/
  position: absolute; 
  top: -4px; 
  left: 0;

}
#finishedForm .termsCheck label:before {
  content: '\f096'; /*unchecked*/
}
#finishedForm .termsCheck label:after {
  content: '\f046'; /*checked*/
  /*checked icon will be hidden by default by using 0 max-width and overflow hidden*/
  max-width: 0;
  overflow: hidden;
  opacity: 0.5;
  /*CSS3 transitions for animated effect*/
  transition: all 0.35s;
}

/*hiding the original checkboxes*/
#finishedForm .termsCheck input[type="checkbox"] {
  display: none;
}
/*when the user checks the checkbox the checked icon will animate in*/
#finishedForm .termsCheck input[type="checkbox"]:checked + label:after {
  max-width: 25px; /*an arbitratry number more than the icon's width*/
  opacity: 1; /*for fade in effect*/
}
.socialIcons{
}
#twitter{
	position: absolute;
	left: 80px;
	margin-top: -10px;
}
#pinterest{
	position: absolute;
	right: 10px;
  margin-top: -19px;
}
.socialModal .row-fluid {
}
.shareInfo{
  text-align: center;
}
/*
 * Select
 */

.select {
  position: relative;
}
.select select {
  display: inline-block;
  width: 100%;
  margin: 0;
  padding: .5rem 2.25rem .5rem 1rem;
  line-height: 1.5;
  border: 0;
  border-radius: .25rem;
  cursor: pointer;
  outline: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
/* Undo the Firefox inner focus ring */
.select select:focus:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}
/* Dropdown arrow */
.select:after {
  position: absolute;
  top: 50%;
  right: 1.25rem;
  display: inline-block;
  content: "";
  width: 0;
  height: 0;
  margin-top: -.15rem;
  pointer-events: none;
  border-top: .35rem solid;
  border-right: .35rem solid transparent;
  border-bottom: .35rem solid transparent;
  border-left: .35rem solid transparent;
}

/* Hover state */
/* Uncomment if you need it, but be aware of the sticky iOS states.
.select select:hover {
  background-color: #ddd;
}
*/

/* Focus */
.select select:focus {
  box-shadow: 0 0 0 .075rem #fff, 0 0 0 .2rem #0074d9;
}

/* Active/open */
.select select:active {
  color: #fff;
  background-color: #0074d9;
}

/* Hide the arrow in IE10 and up */
.select select::-ms-expand {
  display: none;
}

/* Media query to target Firefox only */
@-moz-document url-prefix() {
  /* Firefox hack to hide the arrow */
  .select select {
    text-indent: 0.01px;
    text-overflow: '';
    padding-right: 1rem;
  }

  /* <option> elements inherit styles from <select>, so reset them. */
  .select option {
    background-color: #fff;
  }
}

/* IE9 hack to hide the arrow */
@media screen and (min-width:0\0) {
  .select select {
    z-index: 1;
    padding: .5rem 1.5rem .5rem 1rem;
  }
  .select:after {
    z-index: 5;
  }
  .select:before {
    position: absolute;
    top: 0;
    right: 1rem;
    bottom: 0;
    z-index: 2;
    content: "";
    display: block;
    width: 1.5rem;
    background-color: #eee;
  }
  .select select:hover,
  .select select:focus,
  .select select:active {
    color: #555;
    background-color: #eee;
  }
}